*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: cadetblue;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  padding-left: 2rem;
}

.title {
  margin: 2rem;
  color: darkblue;
  font-weight: bold;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  inset: -1rem;
  background: coral;
  z-index: -1;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  width: 300px;
  position: relative;
  margin-bottom: 1.5rem;
}

p::before {
  content: '';
  position: absolute;
  inset: -0.5rem;
  background: white;
  z-index: -1;
}

.char {
  animation: in 0.3s linear;
}

@keyframes in {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
}

.title-marvel {
  color: teal;
  position: relative;
  padding: 1rem 0.4rem;
  margin-bottom: 1rem;
}

.title-marvel::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  z-index: -1;
}

.my-form {
  margin: 1rem;
}

.thank-you {
  font-weight: bold;
  color: black;
  display: block;
  height: 100px;
}

.thank-you::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: yellow;
  z-index: -1;
}
